		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
			  <a class="navbar-brand" href="#"><img src="/img/logo1.png" alt="logo"></a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="home">Αρχική σελίδα</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="announ">Ανακοινώσεις</a>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="games" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Αγώνες
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li><a class="dropdown-item" href="nikitis">Top 16</a></li>
					  <li><a class="dropdown-item" href="games">Όλοι οι αγώνες</a></li>
					</ul>
				  </li>
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="form">Δήλωση συμμετοχής</a>
				  </li>
				  
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="contact">Επικοινωνία</a>
				  </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				  <li>
					<a href="login">Sign In</a>
				  </li>
				</ul>
			  </div>
			</div>
		</nav>
		{{!-- <div class="first">
			<button id="new-article" class="new-article">Καινούργια ανακοίνωση</button>
		</div> --}}
		<div id="secwrapper2">
			<section id="all-ann">
				<article id="featured2">
					<a href="#"><img src="img/images/1.jpg" alt=""/></a>
					<a href="article" class="readmore2">Διάβασε Περισσότερα</a>
					<h1>Ο Νικητής του θεσμού την χρονιά 2021</h1>
					<p>Published date: 03/05/2021</p>
					<a  class="readmore" href="article">Διάβασε Περισσότερα</a>
				</article>
				<article>
					<a href="#"><img src="img/nikhths.jpg" alt=""/></a>
					<a  class="readmore2" href="article">Διάβασε Περισσότερα</a>
					<h1>Ο Νικητής του θεσμού την χρονιά 2020</h1>
					<p> Published date: 03/05/2021</p>
					<a  class="readmore" href="article">Διάβασε Περισσότερα</a>
				</article>
				<article class="rightcl2">
					<a href="#"><img src="img/images/3.jpg" alt=""/></a>
					<a  class="readmore2" href="article">Διάβασε Περισσότερα</a>
					<h1>Ο Νικητής του θεσμού την χρονιά 2019</h1>
					<p>Published date: 03/05/2021</p>
					<a  class="readmore" href="article">Διάβασε Περισσότερα</a>
				</article>			
				<article>
					<a href="#"><img src="img/images/4.jpg" alt=""/></a>
					<a  class="readmore2" href="article">Διάβασε Περισσότερα</a>
					<h1>Ο Νικητής του θεσμού την χρονιά 2018</h1>
					<p>Published date: 03/05/2021</p>
					<a  class="readmore" href="article">Διάβασε Περισσότερα</a>
				</article>
				<article>
					<a href="#"><img src="img/images/5.jpg" alt=""/></a>
					<a  class="readmore2" href="article">Διάβασε Περισσότερα</a>
					<h1>Ο Νικητής του θεσμού την χρονιά 2017</h1>
					<p>Published date: 03/05/202.</p>
					<a class="readmore" href="article">Διάβασε Περισσότερα</a>
				</article>
			</section>
		</div>

		<div id = 'myfoot'>
			<p>Το τουρνουά διοργανώνεται από το Πανεπιστήμιο Πατρών</p>
			<a href="https://www.upatras.gr/">
				<img src="img/University_of_Patras_(seal).png" id= unilogo alt="Πανεπηστίμιο Πατρών">
			</a>
			<div>
				<p>Τρόποι Επικοινωνίας:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				<p>Τηλέφωνο&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="specialstyle">6976341294</span></p>
				<p class="myfoot2">E-mail &nbsp;&nbsp;&nbsp;<span class = "specialstyle">tennistournamentuop@gmail.com</span></p>

			</div>
		</div>


		<script src="js/announ.js"></script>

		
		
			
    
    