<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
			  <a class="navbar-brand" href="#"><img src="/img/logo1.png" alt="logo"></a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="home">Αρχική σελίδα</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="announ">Ανακοινώσεις</a>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="games" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Αγώνες
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li><a class="dropdown-item" href="nikitis">Top 16</a></li>
					  <li><a class="dropdown-item" href="games">Όλοι οι αγώνες</a></li>
					</ul>
				  </li>
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="form">Δήλωση συμμετοχής</a>
				  </li>
				  
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="contact">Επικοινωνία</a>
				  </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				  <li>
					<a href="login">Sign In</a>
				  </li>
				</ul>
			  </div>
			</div>
		</nav>


<div class="arthro">

        <h1 class="articH1">Νικητής ξανά ο Αντρέας Γεωργίου στους άντρες!</h1>
        <p class="articP">Τρομερή νίκη για τον δύο φορές πρωταθλητή. Σε ένα συναρπαστικό παιχνίδι που μαγνήτισε τα βλέμματα των θεατών, 
            ο έμπειρος Αντρέας Γεωργίου επικράτησε με 2-1 set του φιναλίστ Τάσου Γούτα.</p>
        <blockquote class="articBlo">
            <p>" Ήταν το καλύετερο παιχνίδι που έχω παίξει στο τουρνουά τα τελευταία 2 χρόνια! "</p>
        </blockquote>
        <figure class="articFig">
            <img class="articImg" src="img/nikhths.jpg">
        </figure>
        <p class="articP">Καθώς το 6ο Πανεπιστημιακό Τουρνουά Τέννις φτάνει στο τέλος του, οι Τάσος Γούτας και Αντρέας Γεωργίου μας επιφύλλασαν μια ευχάριστη έκπληξη.
            Ο τελικός των ανδρών ανταποκρίθηκε στις προσδοκίες των θεατών και καθήλωσε μικρούς και μεγάλους.
            Το πρώτο set ήταν σχετικά εύκολη υπόθεση για τον νικητή του 2016, Αντρέα Γεωργίου, ο οποίος με 2 συνεχόμενα break τελείωσε το set μόλις σε 24 λεπτά με score 6-2.
            Εκεί, όμως, είδαμε την εντυπωσιακή ανάκαμψη του Γραμματέα της Πρυτανείας, Τάσου Γούτα. Ο ερασιτέχνης τεννίστας από το Αίγιο αντέδρασε και πάλεψε μέχρι τελευταίας στιγμής
            για να νικήσει το 2o set στο tie-break με 6-7. Τα εντυπωσιακά σερβίς του αποτέλεσαν πρόβλημα και στην αρχή του 3ου set, όπου ο Γούτας προηγήθηκε με 0-3.
            Διατηρώντας τη ψυχραιμία του ο Γεωργίου δεν δέχτηκε άλλο break στο σερβίς του, αλλά ούτε αυτός μπορούσε να σπάσει το σερβίς του αντιπάλου του.
            Με το score πλέον στο 3-5, ξεκίνησε η τελική προσπάθεια του Αντρέα, ο οποίος κέρδισε το 9ο game του 3ου set μετά από 14 ισοπαλίες! Επειτά με 4 winners εξασφάλισε τον πολυπόθυτο τίτλο,
            γεγονός που τον καθιστά τον πολυνίκη του Πανεπιστημιακού Τουρνουά Τέννις, καθώς είναι ο μόνος -άντρας ή γυναίκα- που έχει κατακτήσει 2 τίτλους. 
        </p>
        <br>
        <br>
        <p class="articP">
            Αύριο ο μεγάλος τελικός των γυναικών, όπου η Ηρώ Σακκά αντιμετωπίζει την φοιτήτρια ιατρικής Θάλεια Νινοπούλου στις 18:00.
            Ισχύουν τα μέτρα υγιεινής κατα του κορωνοϊού για τους θεατές και σας παρακαλούμε να σέβεστε τους κανόνες προσωπικής ευθύνης.
        </p>
</div>

<div id = 'myfoot'>
	<p>Το τουρνουά διοργανώνεται από το Πανεπιστήμιο Πατρών</p>
		<a href="https://www.upatras.gr/">
		<img src="img/University_of_Patras_(seal).png" id= unilogo alt="Πανεπηστίμιο Πατρών">
	</a>
	<div>
		<p>Τρόποι Επικοινωνίας:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
		<p>Τηλέφωνο&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="specialstyle">6976341294</span></p>
		<p class="myfoot2">E-mail &nbsp;&nbsp;&nbsp;<span class = "specialstyle">tennistournamentuop@gmail.com</span></p>

	</div>
</div>